#content
{
    margin: 1%;
    border: 3px solid;
    border-radius: 30px;
}

#bannerProfile
{
    padding: 1%;
    background-color: rgb(231,53,65);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 3px solid;
}

#nicknameBanner
{
    color: white;
}

#form-request
{
}

#buttonFriendRequest
{
}

#form-ban
{

}

#form-unban
{
}

#contentProfile
{
    padding:1%;
    padding-left: 2%;
}

#mainBanner
{
    margin: 0 auto;
}

#mainBanner2
{
    margin: 0 auto;
}

#buttonsBanner
{
    display: flex;
}

body {
    background-color: #e8e5e5;
}