#content
{
    margin: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
    border: solid;    
}

#usernameForm
{
    max-width: 500px;
    margin: 0 auto;
}

#emailForm
{
    max-width: 500px;
    margin: 0 auto;
}

.help-block
{
    color: red;
}